<div class="sessions pb-5">
  <div class="container pt-6">
    <%= render "shared/components/subtitle", subtitle: t("report.meetings"), search: false %>
    <div id='room_mettings' class='row'>
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table stylish-table" id="meetings-table">
                <thead>
                    <tr>
                        <th align="left" width="15%"><%= t("analytics.meeting_name") %></th>
                        <th align="center" width="15%"><%= t("analytics.start") %></th>
                        <th align="center" width="15%""><%= t("analytics.finish") %></th>
                        <th align="center" width="10%"><%= t("analytics.duration") %></th>
                        <th align="center" width="10%"><%= t("analytics.attendees") %></th>
                        <th align="center" width="10%"><%= t("analytics.moderators") %></th>
                        <th align="center" width="10%"><%= t("analytics.viewers") %></th>
                        <th align="center" width="10%"><%= t("analytics.polls") %></th>
                        <th align="right" width="5%"></th>
                    </tr>
                </thead>
              <tbody>
                <% if @meetings.present? %>
                  <% @meetings.each do |meeting| %>
                    <tr>
                      <td align="left">
                        <h5>
                          <%= meeting.meeting_name %>
                        </h5>
                      </td>
                      <td align="center">
                        <h5>
                          <%= meeting.start.in_time_zone('Asia/Dubai') %>
                        </h5>
                      </td>
                      <td align="center">
                        <h5>
                          <%= meeting.finish.in_time_zone('Asia/Dubai') %>
                        </h5>
                      </td>
                      <td align="center">
                        <h5>
                          <%= display_duration(meeting.duration) %>
                        </h5>
                      </td>
                      <td align="center">
                        <h5>
                          <%= meeting.attendees %>
                        </h5>
                      </td>
                      <td align="center">
                        <h5>
                          <%= meeting.moderators %>
                        </h5>
                      </td>
                      <td align="center">
                        <h5>
                          <%= meeting.viewers %>
                        </h5>
                      </td>
                      <td align="center">
                        <h5>
                          <%= meeting.polls %>
                        </h5>
                      </td>
                      <td align="right" id='report_detail' data-href="<%= report_path(meeting.internal_id, room_uid: params[:room_uid]) %>" >
                        <a class="btn btn-sm btn-primary" href="javascript:void(0)">View</a>
                      </td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>No Meetings</tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#meetings-table').on('click', 'tbody td', function(){
      console.log("table")
      if($(this).attr("data-href")){
        window.location = $(this).attr("data-href");
      }
    })
})
</script>
