<div class="modal-header">
  <div class="row">
    <div class="col" style="margin-left: 180px;margin-bottom: 30px;margin-top: 30px;text-align: center;">
      <div class="avatar-circle" style="width: 100px; height: 100px; background-color: #ea410e;border-color: #ea410e; text-align: center; border-radius: 50%;">
        <span style="position: relative; top: 25px; font-size: 50px;line-height: 50px;color: #fff;"><%= @attendee.name.first %>
      </div>
      <h3 style="margin-top: 10px; color: black;">
        <%= @attendee.name %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col" style="margin-right: -200px;">
      <h5>Engagement Score</h5>
    </div>
    <div class="col">
      <span class="badge badge-pill badge-warning text-white" style="font-size: 80%;"><%= calculation_for_attendee(@attendee, @attendees)['enagemanet_score'].round(1) %></span>
    </div>
  </div>
  <table class="table stylish-table">
    <thead>
      <tr>
        <th>Category</th>
        <th style="text-align: center;">Participation</th>
        <th style="text-align: center;">Activity Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h6>Talk Time</h6>
        </td>
        <td style="text-align: center;">
          <div class="progress" style="background-color: #e8eaec;">
            <% talk_time = ((@attendee.talk_time.to_f / 60) / (@attendees.sum(:talk_time).to_f / 60)) * 100 %>
            <div class="progress-bar bg-success" style="width: <%= talk_time.nan? ? 0 : talk_time.to_f %>%; height:15px;" role="progressbar"><%= (@attendee.talk_time.to_f % 3600 / 60).round(1) %> min</div>
          </div>

          <code style="font-size: 70%;">Average: <%= calculation_for_attendee(@attendee, @attendees)['average_talk_time'].nan? ? 0 : calculation_for_attendee(@attendee, @attendees)['average_talk_time'].round(1) %></code>

        </td>
        <td style="text-align: center;">
          <h6><%= calculation_for_attendee(@attendee, @attendees)['activity_point_talk_time'].nan? ? 0 : calculation_for_attendee(@attendee, @attendees)['activity_point_talk_time'].round(1) %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h6>Messages</h6>
        </td>
        <td style="text-align: center;">
          <div class="progress" style="background-color: #e8eaec;">
            <% width_chat = (@attendee.chats.to_f / @attendees.sum(:chats).to_f) * 100 %>
            <div class="progress-bar bg-info" style="width: <%= width_chat.nan? ? 0 : width_chat %>%; height:15px;" role="progressbar"><%= @attendee.chats %> Msgs</div>
          </div>
          <code style="font-size: 70%;"> Average: <%= calculation_for_attendee(@attendee, @attendees)['average_chat'].nan? ? 0 : calculation_for_attendee(@attendee, @attendees)['average_chat'].round(1) %></code>
        </td>
        <td style="text-align: center;">
          <h6><%= calculation_for_attendee(@attendee, @attendees)['activity_chat'].nan? ? 0 : calculation_for_attendee(@attendee, @attendees)['activity_chat'].round(1) %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h6>Emojis</h6>
        </td>
        <td style="text-align: center;">
          <div class="progress" style="background-color: #e8eaec;">
            <% emoji_width = (@attendee.emojis / @attendees.sum(:emojis).to_f) * 100 %>
            <div class="progress-bar bg-warning" style="width: <%= emoji_width.nan? ? 0 : emoji_width %>%; height:15px;" role="progressbar"><%= @attendee.emojis %></div>
          </div>
          <code style="font-size: 70%;"> Average: <%= calculation_for_attendee(@attendee, @attendees)['average_emojis'].nan? ? 0 : calculation_for_attendee(@attendee, @attendees)['average_emojis'].round(1) %></code>
        </td>
        <td style="text-align: center;">
          <h6><%= calculation_for_attendee(@attendee, @attendees)['activity_emoji'].nan? ? 0 : calculation_for_attendee(@attendee, @attendees)['activity_emoji'].round(1) %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h6>Raised Hands</h6>
        </td>
        <td style="text-align: center;">
          <div class="progress" style="background-color: #e8eaec;">
            <% raisehand_width = (@attendee.raisehand / @attendees.sum(:raisehand).to_f) * 100 %>
            <div class="progress-bar bg-primary" style="width: <%= raisehand_width.nan? ? 0 : raisehand_width %>%; height:15px;" role="progressbar"><%= @attendee.raisehand %></div>
          </div>
          <code style="font-size: 70%;"> Average: <%= calculation_for_attendee(@attendee, @attendees)['average_raisehand'].nan? ? 0 : calculation_for_attendee(@attendee, @attendees)['average_raisehand'].round(1) %></code>
        </td>
        <td style="text-align: center;">
          <h6><%= calculation_for_attendee(@attendee, @attendees)['activity_raisehand'].nan? ? 0 : calculation_for_attendee(@attendee, @attendees)['activity_raisehand'].round(1) %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h6>Poll Votes</h6>
        </td>
        <td style="text-align: center;">
          <div class="progress" style="background-color: #e8eaec;">
            <% poll_vote_width = (@attendee.poll_votes / @attendees.sum(:poll_votes).to_f) * 100 %>
            <div class="progress-bar bg-cyan" style="width: <%= poll_vote_width.nan? ? 0 : poll_vote_width %>%; height:15px;" role="progressbar"><%= @attendee.poll_votes %></div>
          </div>
          <code style="font-size: 70%;"> Average: <%=  calculation_for_attendee(@attendee, @attendees)['average_poll_votes'].nan? ? 0 : calculation_for_attendee(@attendee, @attendees)['average_poll_votes'].round(1) %></code>
        </td>
        <td style="text-align: center;">
          <h6><%= calculation_for_attendee(@attendee, @attendees)['activity_poll_votes'].nan? ? 0 : calculation_for_attendee(@attendee, @attendees)['activity_poll_votes'].round(1) %></h6>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
</div>
